.signup {
  padding-top: 64px;
}
.signup-form {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-form > legend {
  font-size: 20px;
  margin-bottom: 40px;
}
.signup-form > button {
  margin-top: 0px;
  font-size: 16px;
  width: 100px;
  height: 25px;
  border: 1px solid black;
  border-radius: 5px;
}
#password {
  margin-bottom: 5px;
}
.password-requirments {
  font-size: 12px;
  text-align: left;
  padding: 0;
}