.event-searchg-form {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.event-searchg-form > input[type=text] {
  width: 200px;
  margin-left: 15px;
  margin-bottom: 0;
  margin-top: 0;
}