
.user-list-container {
  background-color: lightgray;
  width: 35%;
  text-align: center;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.users-list-header {
  background-color: grey
}
.user-list {
  list-style-type: none;
  padding: 0;
}
.user-list > li {
  border-bottom: 1px solid black;

}